# Android / Gradle
.gradle/
build/
app/build/

# Local config
local.properties

# Compiled files
*.class

# APK / AAB
*.apk
*.aab

# Android Studio / IntelliJ
*.iml
.idea/

# Native build
.externalNativeBuild/
.cxx/

# Captures
captures/

# MacOS
.DS_Store

# Logs
*.log